* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu-container {
    display: flex;
    justify-content: center; /* Positioning of the flex items */
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
  }
  
  .menu {
    border: 1px solid #fff;  /* For debugging */
    width: 900px;
    display: flex;
    justify-content: space-around; /* Spreads its items out across its entire width */
  }

  .flex {
    display: flex;
    justify-content: center;
  }  